body {
	background-image: url(img/back1.jpg);
	font-family: 'Girassol', cursive;
	font-family: 'Rye', cursive;
}
.container{
	width: 960px;
	height: 540px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#container1{
	width: 960px;
	height: 540px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: url(img/windvalley1.jpg);
}
#nausicaa-small {
	position: absolute;
	bottom: 0px;
	left: 80px;
}
#yupa {
	position: absolute;
	bottom: -8px;
	right: 80px;
}
#dialog-box{
	width:780px;
	padding: 15px 90px 15px 90px;
	position: absolute;
	bottom:0px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;


}
#dialog{
	margin-left:auto;
	margin-right: auto;
	display:block;
	
}
.dialog-text {
	position:absolute;
	z-index: 99;
	margin:0 auto;
	left:100px;
	right:100px;
	top:30%;
	text-align:left;
	width:500px;
}
.dialogbutton {
	position: absolute;
	background-color: goldenrod;
	z-index:999;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 3px 2px;
	cursor: pointer;
	border-radius: 12px;
	right:80px;
	bottom:20%;
	font-family: 'Girassol', cursive;
	font-family: 'Rye', cursive;
  }
  #navigator{
	position: absolute;
	background-color: goldenrod;
	z-index:999;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 3px 2px;
	cursor: pointer;
	border-radius: 12px;
	font-family: 'Girassol', cursive;
	font-family: 'Rye', cursive;
	top:30px;
	left:30px;
  }



#container-map{
	width: 960px;
	height: 540px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: url(img/map1.jpg);
}
#sea{
	position: absolute;
	top: 0px;
	left: 6px;
	z-index:2;
	cursor: pointer;
	/* -webkit-clip-path: polygon(1% 1%, 0% 12%, 1% 25%, 5% 29%, 12% 33%, 19% 36%, 15% 48%, 21% 56%, 20% 64%, 13% 71%, 22% 75%, 25% 93%, 32% 95%, 38% 92%, 44% 93%, 51% 96%, 58% 92%, 61% 86%, 62% 74%, 67% 61%, 70% 54%, 79% 49%, 84% 43%, 91% 43%, 96% 32%, 99% 20%, 99% 8%, 96% 2%);
    clip-path: polygon(1% 1%, 0% 12%, 1% 25%, 5% 29%, 12% 33%, 19% 36%, 15% 48%, 21% 56%, 20% 64%, 13% 71%, 22% 75%, 25% 93%, 32% 95%, 38% 92%, 44% 93%, 51% 96%, 58% 92%, 61% 86%, 62% 74%, 67% 61%, 70% 54%, 79% 49%, 84% 43%, 91% 43%, 96% 32%, 99% 20%, 99% 8%, 96% 2%); */
}

#peijitei{
	position: absolute;
	top:90px;
	right: 0px;
	z-index:3;
	cursor: pointer;
	/* -webkit-clip-path: polygon(9% 45%, 9% 45%9% 45%, 3% 48%, 3% 48%, 3% 48%, 3% 68%, 3% 68%, 3% 68%, 4% 84%, 4% 84%, 4% 84%, 13% 92%, 13% 92%, 13% 92%, 26% 96%, 26% 96%, 26% 96%, 35% 94%, 35% 94%, 35% 94%, 49% 95%, 49% 95%, 49% 95%, 62% 95%, 62% 95%, 62% 95%, 69% 90%, 69% 90%, 69% 90%, 81% 93%, 81% 93%, 81% 93%, 91% 94%, 91% 94%, 91% 94%, 100% 78%, 100% 78%, 100% 78%, 99% 38%, 99% 38%, 99% 38%, 94% 9%, 94% 9%, 94% 9%, 82% 5%, 82% 5%, 82% 5%, 72% 23%, 72% 23%, 72% 23%, 61% 29%, 61% 29%, 61% 29%, 48% 28%, 48% 28%, 48% 28%, 34% 33%, 34% 33%, 34% 33%, 21% 31%, 21% 31%, 21% 31%, 15% 34%, 15% 34%, 15% 34%);
    clip-path: polygon(9% 45%, 9% 45%9% 45%, 3% 48%, 3% 48%, 3% 48%, 3% 68%, 3% 68%, 3% 68%, 4% 84%, 4% 84%, 4% 84%, 13% 92%, 13% 92%, 13% 92%, 26% 96%, 26% 96%, 26% 96%, 35% 94%, 35% 94%, 35% 94%, 49% 95%, 49% 95%, 49% 95%, 62% 95%, 62% 95%, 62% 95%, 69% 90%, 69% 90%, 69% 90%, 81% 93%, 81% 93%, 81% 93%, 91% 94%, 91% 94%, 91% 94%, 100% 78%, 100% 78%, 100% 78%, 99% 38%, 99% 38%, 99% 38%, 94% 9%, 94% 9%, 94% 9%, 82% 5%, 82% 5%, 82% 5%, 72% 23%, 72% 23%, 72% 23%, 61% 29%, 61% 29%, 61% 29%, 48% 28%, 48% 28%, 48% 28%, 34% 33%, 34% 33%, 34% 33%, 21% 31%, 21% 31%, 21% 31%, 15% 34%, 15% 34%, 15% 34%); */
}
#torumekian{
	position: absolute;
	bottom:0px;
	left:0px;
	cursor: pointer;
	/* -webkit-clip-path: polygon(2% 18%, 2% 8%, 2% 14%, 6% 59%, 22% 78%, 42% 75%, 55% 76%, 74% 76%, 84% 73%, 94% 68%, 97% 51%, 93% 38%, 95% 30%, 79% 22%, 74% 12%, 68% 6%, 58% 6%, 40% 6%, 31% 3%, 19% 6%, 9% 8%, 4% 7%, 2% 9%);
    clip-path: polygon(2% 18%, 2% 8%, 2% 14%, 6% 59%, 22% 78%, 42% 75%, 55% 76%, 74% 76%, 84% 73%, 94% 68%, 97% 51%, 93% 38%, 95% 30%, 79% 22%, 74% 12%, 68% 6%, 58% 6%, 40% 6%, 31% 3%, 19% 6%, 9% 8%, 4% 7%, 2% 9%); */
}
#valley{
	position: absolute;
	top:245px;
	left:162px;
	z-index:5;
	cursor: pointer;
	/* -webkit-clip-path: polygon(1% 27%, 0% 48%, 2% 71%, 7% 87%, 13% 83%, 19% 82%, 25% 76%, 34% 83%, 43% 77%, 49% 82%, 56% 68%, 67% 64%, 71% 47%, 82% 56%, 91% 58%, 96% 54%, 99% 36%, 93% 21%, 70% 15%, 64% 13%, 55% 38%, 48% 33%, 38% 30%, 32% 41%, 21% 44%, 10% 38%);
    clip-path: polygon(1% 27%, 0% 48%, 2% 71%, 7% 87%, 13% 83%, 19% 82%, 25% 76%, 34% 83%, 43% 77%, 49% 82%, 56% 68%, 67% 64%, 71% 47%, 82% 56%, 91% 58%, 96% 54%, 99% 36%, 93% 21%, 70% 15%, 64% 13%, 55% 38%, 48% 33%, 38% 30%, 32% 41%, 21% 44%, 10% 38%); */

}
.map{
	text-align: center;
	cursor: pointer;
}
.map-text {
	text-align: center;
	position: relative;
	visibility: hidden;
	z-index: 20;

}
/* .map hover{
	visibility: visible;


} */

/* peijitei */
#container-peijitei{
	width: 960px;
	height: 540px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: url(img/desert.jpg);

}
#Asbel {
	position: absolute;
	bottom: 20px;
	right: 80px;
}
/* torumekian */
#container-torumekian{
	width: 960px;
	height: 540px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: url(img/torumekian.jpg);

}
#kushana {
	position: absolute;
	bottom: 0px;
	left: 80px;
}
/* sea */
#container-sea{
	width: 960px;
	height: 540px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: url(img/seabg.jpg);

}


/* collectseed */
#container-seed{
	width: 960px;
	height: 540px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: url(img/collectseed.jpg);
}

#seed1{
	position: absolute;
	top:80px;
	right:240px;

}
#seed2{
	position: absolute;
	top:130px;
	right:240px;

}
#seed3{
	position: absolute;
	top:180px;
	right:240px;

}
#seed4{
	position: absolute;
	top:230px;
	right:240px;

}
#seed5{
	position: absolute;
	top:220px;
	right:180px;

}
#tube{
	position: absolute;
	top:300px;
	left:570px;
}

#counter {
	position: absolute;
	background-color: goldenrod;
	z-index:99;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 3px 2px;
	border-radius: 12px;
	right:80px;
	bottom:60px;
	font-family: 'Girassol', cursive;
	font-family: 'Rye', cursive;
  }
/* fly-game */


#container-flygame{
	width: 960px;
	height: 540px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: url(img/back2.jpg);
}

#gameTimer {
	width: 400px;
	height: 20px;
	background-color: goldenrod;
	position: absolute;
	top: 0;
	left: 0;
}
#gameTimerContainer {
	width: 400px;
	height: 20px;
	border: 2px solid black;
	position: absolute;
	top: 10px;
	right: 10px;
}
#livesContainer {
	position: absolute;
	top: 7px;
	right: 430px;
	height: 20px;
	width: 20px;
	box-sizing: border-box;
	font-size: 24px;
	padding-top: 3px;
	text-align: center;
	background-color: rgb(17, 45, 202，0);
	color: red;
}
#player {
	position: absolute;
	top: 100px;
	right: 10px;
}

/* maze-game */

#container-maze{
	width: 960px;
	height: 598px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color:#a6a6a6;
}

#teto{
	position: absolute;
	top:5px;
	left:340px;

}
#keysmall{
	position: absolute;
	bottom:0px;
	left:310px;

}
#keybig{
	position: absolute;
	top:250px;
	right:150px;

}
#key{
	position: absolute;
	top:250px;
	right:150px;
	display: none;

}
#walkteto{
	width:200px;
	height: 166px;
	position: absolute;
	top:50px;
	right:100px;
	background-image: url(img/tetowhole3.png);
	animation: walk 0.6s steps(2) infinite;
	z-index: 999;
	background-position: 0 0;

}


@keyframes walk {
	0% {background-position: 0 0;}
	100% {background-position: -400px 0;}
}
/* timer */
#timer-wrap{
	position:absolute;
	margin:20px;
	bottom:60px;
	right:100px;
}
#timer{
	color:red;
}

/* kingbug */
#bug_counter {
		position: absolute;
		top: 7px;
		right: 450px;
		height: 30px;
		width: 100px;
		box-sizing: border-box;
		font-size: 20px;
		padding-top: 3px;
		text-align: center;
		color: red;
}
#container-kingbug{
	width: 960px;
	height: 540px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: url(img/desert.jpg);
}

#bug1{
	position: absolute;
	top:20px;
	right:220px;

}
#coolbug{
	position: absolute;
	top:20px;
	right:220px;
	display: none;

}
#bug2{
	position: absolute;
	bottom:52px;
	right:150px;
	display:none;

}
#bug3{
	position: absolute;
	bottom:20px;
	right:280px;
	display:none;

}
#bug4{
	position: absolute;
	bottom:15px;
	right:450px;
	display:none;

}
#bug5{
	position: absolute;
	bottom:10px;
	right:580px;
	display:none;

}
#bug6{
	position: absolute;
	bottom:140px;
	right:540px;
	display:none;

}
#bug7{
	position: absolute;
	top:50px;
	right:320px;
	display:none;

}
#bug8{
	position: absolute;
	bottom:92px;
	right:250px;
	display:none;

}
#bug9{
	position: absolute;
	bottom:230px;
	right:480px;

}
#bug10{
	position: absolute;
	bottom:180px;
	right:450px;
	display:none;

}
#bug11{
	position: absolute;
	bottom:300px;
	right:280px;
	display:none;

}



/* popup-box */
.btn-pop{
	background-color: #ffd475;  
	border-radius: 10px;
	border:0px;
	zoom:200%;

}
#background-pop{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
#div-pop{
	background:#ffffff;
	width:30%;
	z-index: 1;
	margin: 12% auto;
	overflow: auto;
}
.div-top{
	width: 100%;
	height: auto;
	background-color: goldenrod;
	color: #ffffff;
}
.div-top div{
	padding: 3px 5px 5px 8px;
}
span{
	color: white;
	margin-bottom: 10px ;
	margin-left: 20px ;
	cursor: pointer;
	float: right;
}
.div-content{
	width: auto;
	height: 200px;
	overflow: auto;
}
.div-footer{
	text-align: center;
	background-color: darkgray;
}
.choicebutton{
	color: goldenrod; 
	background: transparent; 
	border: 2px solid goldenrod;
	border-radius: 6px; 
	border: 1px;
	color: black;
	padding: 16px 32px;
	text-align: left;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;

}
.choicebutton:hover {
	background-color: goldenrod;
	color: white;
}
/* start page */
.text_effect{
	margin-top:100px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px #d6d6d6;
	font-size:60px;
	text-align: center;

}
.startbtn{
		color: white; 
		background: transparent; 
		border: 2px solid white;
		border-radius: 6px; 
		border: soild 1px;
		color: white;
		padding: 16px 32px;
		text-align: center;
		display: inline-block;
		font-size: 16px;
		margin: 2px 20px;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		cursor: pointer;
		text-decoration: none;
	
	
}
.startbtn:hover {
	background-color: goldenrod;
	color: white;
}
#btn_wrap{
	margin-top: 200px;
	text-align: center;
}

/* task——box */
.taskbox{
	width:600px;
	padding:0px 10px 0px 10px;
	border:1px solid grey;
	border-radius: 10px;
	background-color: rgb(204, 204, 204,0.5);
	z-index: 9;
	position: absolute;
	top:10px;
	left:180px;
	overflow: hidden;
	display:none;

}
#mazetask{
	width:280px;
	padding:0px 10px 0px 10px;
	border:px solid black;
	border-radius: 10px;
	z-index: 9;
	position: absolute;
	bottom:10px;
	right:20px;
	overflow: hidden;
	background-color: rgb(218, 213, 213);

}
#flytask{
	width:280px;
	padding:0px 10px 0px 10px;
	border:px solid black;
	border-radius: 10px;
	z-index: 9;
	position: absolute;
	bottom:10px;
	right:20px;
	overflow: hidden;

}
#bugtask{
	width:280px;
	padding:0px 10px 0px 10px;
	border:px solid black;
	border-radius: 10px;
	z-index: 9;
	position: absolute;
	bottom:10px;
	right:20px;
	overflow: hidden;

}
#valley-name{
	width:120px;
	padding:0px 5px 0px 5px;
	border:2px solid black;
	border-radius: 10px;
	background-color: rgb(204, 204, 204,0.7);
	z-index: 10;
	position: absolute;
	top:260px;
	left:580px;
	overflow: hidden;
	display: none;

}

/* layer */

#la1 {
	position: absolute;
	cursor: pointer;
	top:130px;
	left:130px;
	z-index: 9;
}
#text1 {
	color: black;
	position: absolute;
	bottom:50px;
	left:200px;
}
#text2 {
	color: black;
	position: absolute;
	bottom:50px;
	left:450px;
}
#text3 {
	color: black;
	position: absolute;
	bottom:50px;
	left:700px;
}
#la2 {
	position: absolute;
	cursor: pointer;
	top:130px;
	left:380px;
	z-index: 9;
}
#la3 {
	position: absolute;
	cursor: pointer;
	top:130px;
	left:630px;
	z-index: 9;
}
#container-layer1{
		width: 960px;
		height: 540px;
		margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		background-image: url(img/layer1.png);
	
	
}
#container-layer2{
	width: 960px;
	height: 540px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: url(img/layer2.jpg);
}


#container-layer3{
		width: 960px;
		height: 540px;
		margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		background-image: url(img/layer3.jpg);
	
	
	
}
#bigplane{
	position: absolute;
	top:50px;
	right:80px;
	
}
#littlebug1{
	position: absolute;
	top:290px;
	right:450px;

}
#littlebug2{
	position: absolute;
	top:190px;
	right:480px;
}

/* alert box */
#confirm {
	display: none;
	background-color:goldenrod;
	border: 2px solid #aaa;
	border-radius: 25px;
	position: fixed;
	width: 350px;
	top:200px;
	left: 50%;
	margin-left: -100px;
	padding: 6px 8px 8px;
	box-sizing: border-box;
	text-align: center;
	z-index: 999;
	
 }
 #confirm button {
	background-color: #aaa;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid black;
	padding: 5px;
	text-align: center;
	width: 100px;
	cursor: pointer;
	font-size: 15px;
 }
 #confirm .message {
	text-align: center;
	padding:30px;
	font-size: 20px;
 }




